*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo__header{
    text-align: center;
    background-color: aqua;
}

.nav__header{
    display: flex;
    justify-content: center;
    background-color: gray;
}

.img__logo{
    width: 5%;
}

ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

.main__home{
    
}

.img__main{
    /* background-image: url(img/uninassau_main.png);
    background-position:left; */
    background-color: black;
    /* object-fit: contain; */
    color: white;
    height: 400px;
    background-size: cover;
}

.titulo{
    width: 45rem;
    padding-top: 15px;
    font-size: 4.5rem;
    line-height: 2;
}

.sub-titulo{
    max-width: 500px;
    font-size: 1rem;
    margin: 10px;
    line-height: 1.5;
}

.border__black{
    background-color: #111;
}