*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo__header{
    text-align: center;
    background-color: aqua;
}

.nav__header{
    display: flex;
    justify-content: end;
    background-color: gray;
}

.img__logo{
    width: 5%;
}

ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

.main__home{
    background-image: url(img/uninassau_main.png);
    background-position:left;
    /* object-fit: contain; */
    color: white;
    height: 400px;
    background-size: cover;
    
}

.img__main{

}

.border__black{
    background-color: #111;
}